<div class="movie-card">
	<div *ngFor="let movie of data" class="movie-card__content">
		<img [src]="movie.backdrop_path" alt="{{ movie.title }}" class="movie-image">
		<div class="movie-details">
			<h2>{{ movie.title }}</h2>
			<p>{{ movie.overview }}</p>
			<p>Рейтинг: {{ movie.rating }}</p>
			<div class="movie-buttons">
				<button (click)="addToFavorites(movie)">Додати до улюблених</button>
				<button (click)="addToWatchList(movie)">Додати до списку перегляду</button>
		   </div>
		</div>
	</div>
</div>