<div class="wrapper">
	<div class = "movie-list">
		<app-my-component 
			[data]="movies"
			(movieAddedToFavorites)="onMovieAddedToFavorites($event)"
			(movieAddedToWatchList)="onMovieAddedToWatchList($event)">
		</app-my-component>
	</div>


	<div class="favourite">
		<div class="favourite__title">Улюблене</div>
		<ul>
		<li *ngFor="let name of favoriteMovies">{{ name }}</li>
		</ul>
	</div>
	
	<div class="watchList">
		<div class="watchList__title">Подивитись</div>
		<ul>
		<li *ngFor="let name of watchListMovies">{{ name }}</li>
		</ul>
	</div>
</div>